<div class="container-cocktail">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, crop: :fill, class: "image-cocktail" %>
  <% else %>
      <%= image_tag("cocktail-default.svg", alt: "Cocktail photo", class: "image-cocktail") %>
  <% end %>
  <div class="cocktail-infos">
    <h1>
      <%= @cocktail.name %>
      <%= link_to edit_cocktail_path do %>
        <i class="far fa-edit"></i>
      <% end %>
    </h1>
    <div class="container-ingredients">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.description %> --- <%= dose.ingredient.name %>
                <%= link_to dose_path(dose), method: :delete,
                        data: { confirm: "Are you sure you want to delete this ingredient?" } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="form">
        <h3>Add an ingredient</h3>
        <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
      </div>
    </div>
    <hr />
    <div class="container-reviews">
      <div class="reviews">
        <h3>Reviews</h3>
        <% @cocktail.reviews.each do |review| %>
          <p><%= review.content %></p>
          <p>left on <%= review.created_at.strftime("%A %d %B %Y") %></p>
          <p><%= review.rating %></p>
        <% end %>
      </div>
      <div class="form">
        <h3>Leave a review</h3>
        <%= render 'reviews/new', cocktail: @cocktail, review: @review %>
      </div>
    </div>
  </div>
</div>

